{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PS4 Controller Test</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        #button-display {
            font-size: 24px;
            color: #333;
        }

        #test {
            overflow: auto;
            max-width: 100px;
            max-height: 100px;
            margin: auto;
            border: #333;

        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <head>
        <script src="{% static 'controller/gamepad.js' %}"></script>
    </head>

<body>
    <h1>PS4コントローラーのボタンチェック</h1>
    <p id="button-display">コントローラーを接続してください</p>
    <main>
        <p>以下のボタンが押せるか確認してください</p>
        <script>
            function deleteMessage() {
                confirm("入力を受け付けました");
            }
        </script>
        <p><button onclick="deleteMessage()">テストボタン</button></p>
        <p id="test">
            テストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
            テストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
            テストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
            テストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキストテストテキスト
        </p>

    </main>

</body>

</html>