<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search_app</title>
</head>
<body>
    <ul> 
        {% for product in page_obj %} 
            <li>{{ product.name }} - {{ product.price }}</li> 
        {% empty %} 
            <li>No results found</li> 
        {% endfor %} 
        </ul> 
        <div class="pagination"> 
            <span class="step-links"> 
                {% if page_obj.has_previous %} 
                    <a href="?page=1">最初</a>  <!-- 最初のページへのリンク --> 
        <!-- 前のページへのリンク --> 
                    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>  
                {% endif %} 
                <span class="current"> 
                    ページ {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} 
                </span> 
                {% if page_obj.has_next %} 
        <!-- 次のページへのリンク --> 
                    <a href="?page={{ page_obj.next_page_number }}">次へ</a>   
        <!-- 最後のページへのリンク --> 
                    <a href="?page={{ page_obj.paginator.num_pages }}">最後</a>  
                {% endif %} 
            </span> 
        </div> 
        
</body>
</html>
